<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>Phone #</td>
        </tr>
    </thead>
    <!--https://stackoverflow.com/questions/44743317/how-to-create-a-dynamic-link-with-thymeleaf-and-spring-boot-->
    <!--https://www.thymeleaf.org/doc/articles/springmvcaccessdata.html-->
    <tr th:each="user : ${allUsers}">
        <td><a th:href="@{'/' + 'user' + '/' + ${user.id}}" th:text="${user.id}">123456789L</a></td>
        <td th:text="${user.name}">Name</a></td>
        <td th:text="${user.contactNumber}">(123) 456 - 7890</td>
    </tr>
</table>
</body>
</html>