<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Substitutes</title>
    <br th:replace="fragments/base :: styles" th:remove="tag">

</head>
<body>
<!--https://www.thymeleaf.org/doc/articles/layouts.html-->
<div th:replace="fragments/base :: header">
    <!--<div th:replace="fragments/footer :: ${#authentication.principal.isAdmin()} ? 'header-admin' : 'header'">-->
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "fragments/base.html" at runtime.                                     -->
    <!-- ============================================================================ -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" th:each="substitute : ${allSubstitutes}">
        <div class="col-md-6 col-md-offset-2 border border-primary">
            <form class="form-horizontal" th:action="'/requestSelectSubstitute/'+${substitute.id}" method="post"
                  th:object="${selectedDate}">
                <input type="hidden" id="date" th:field="*{startDay}" readonly/>
                <input type="hidden" id="startTime" th:field="*{startTime}" readonly/>
                <input type="hidden" id="endTime" th:field="*{endTime}" readonly/>
                <!--<table>-->
                    <!--<tr><td>ID:</td><td th:text="${substitute.id}"></td></tr>-->
                    <!--<tr><td>NAME:</td><td th:text="${substitute.name}"></td></tr>-->
                    <!--<tr><td>CONTACT:</td><td th:text="${substitute.contactNumber}"></td></tr>-->
                <!--</table>-->

                <div class="form-group">
                    <label for="subId" class="control-label col-xs-4">ID:</label>
                    <div class="col-xs-8">
                        <input id="subId" name="subId" placeholder="12345" type="text" class="form-control"
                               readonly th:value="${substitute.id}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="subName" class="control-label col-xs-4">Name:</label>
                    <div class="col-xs-8">
                        <input id="subName" name="subName" placeholder="NAME" type="text" class="form-control"
                               readonly th:value="${substitute.name}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact" class="control-label col-xs-4">Contact Number:</label>
                    <div class="col-xs-8">
                        <input id="contact" name="contact" placeholder="123 456 7890" type="text" class="form-control"
                               readonly th:value="${substitute.contactNumber}">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-offset-4 col-xs-8">
                        <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--https://www.thymeleaf.org/doc/articles/layouts.html-->
<div th:replace="fragments/base :: footer">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "fragments/base.html" at runtime.                                     -->
    <!-- ============================================================================ -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static FOOTER</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br th:replace="fragments/base :: scripts">
</body>
</html>