<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Scheduled</title>
    <div th:replace="fragments/base :: styles" th:remove="tag">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <style>
            /*https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/sticky-footer-navbar.css*/
            /* Sticky footer styles
    -------------------------------------------------- */
            html {
                position: relative;
                min-height: 100%;
            }

            body {
                /* Margin bottom by footer height */
                margin-bottom: 60px;
            }

            .footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                /* Set the fixed height of the footer here */
                height: 60px;
                line-height: 60px; /* Vertically center the text there */
                background-color: #f5f5f5;
            }

            /* Custom page CSS
            -------------------------------------------------- */
            /* Not required for template or sticky footer method. */

            body > .container {
                padding: 60px 15px 0;
            }

            .footer > .container {
                padding-right: 15px;
                padding-left: 15px;
            }

            code {
                font-size: 80%;
            }
        </style>
    </div>

</head>
<body>
<div th:replace="fragments/base :: header">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "fragments/base.html" at runtime.                                     -->
    <!-- ============================================================================ -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
        <form>
            <div class="form-group row">
                <label for="requestId" class="col-4 col-form-label">Request Id</label>
                <div class="col-8">
                    <input id="requestId"
                           name="requestId"
                           placeholder="ID#"
                           type="text"
                           class="form-control here"
                           readonly
                           th:value="${request.requestId}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="substituteId" class="col-4 col-form-label">Substitute Id:</label>
                <div class="col-8">
                    <input id="substituteId"
                           name="substituteId"
                           placeholder="ID#"
                           type="text"
                           class="form-control here"
                           readonly
                           th:value="${substitute.id}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="subName" class="col-4 col-form-label">Substitute Name</label>
                <div class="col-8">
                    <input id="subName"
                           name="subName"
                           placeholder="Name"
                           type="text"
                           class="form-control here"
                           readonly
                           th:value="${substitute.name}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="requestorId" class="col-4 col-form-label">Requestor Id:</label>
                <div class="col-8">
                    <input id="requestorId"
                           name="requestorId"
                           placeholder="ID#"
                           type="text"
                           class="form-control here"
                           readonly
                           th:value="${requester.id}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="requestorName:" class="col-4 col-form-label">Requestor Name:</label>
                <div class="col-8">
                    <input id="requestorName:"
                           name="requestorName:"
                           placeholder="Name"
                           type="text"
                           class="form-control here"
                           readonly
                           th:value="${requester.name}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="requestStatus" class="col-4 col-form-label">status::</label>
                <div class="col-8">
                    <input id="requestStatus"
                           name="requestStatus"
                           placeholder="STATUS"
                           type="text"
                           class="form-control here"
                           readonly
                           th:value="${request.status.toString()}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="startTime" class="col-4 col-form-label">Start Time</label>
                <div class="col-8">
                    <input id="startTime"
                           name="startTime"
                           placeholder="TIME START"
                           type="text"
                           class="form-control here"
                           readonly
                           th:value="${request.startTime.toString()}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="endTime" class="col-4 col-form-label">End Time</label>
                <div class="col-8">
                    <input id="endTime"
                           name="endTime"
                           placeholder="END TIME"
                           type="text"
                           class="form-control here"
                           readonly
                           th:value="${request.endTime.toString()}"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-4 col-8">
                    <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments/base :: footer">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "fragments/base.html" at runtime.                                     -->
    <!-- ============================================================================ -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static FOOTER</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br th:replace="fragments/base :: scripts">
</body>
</html>